name: Publish to PyPI

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read
    id-token: write

jobs:
  pre-commit-checks:
    name: Build and Publish
    runs-on: ubuntu-latest
    environment: pypi

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Build package
        run: uv build

      - name: Publish package to PyPI
        run: uv publish